.createPost {
  max-width: 500px;
  margin: 40px auto;
  /* border: 1px solid rgb(173, 173, 173); */
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(40, 42, 44, 0.2) 0px 8px 24px;
}

.inputCreatePost {
  min-height: 30px;
  border: none;
}

.main-div {
  border-top: 1px solid rgb(173, 173, 173);
}
.post-header {
  display: flex;
  position: relative;
}

#post-btn {
  position: absolute;
  right: 0;
  top: 5px;
  margin: 5px;
  width: 20%;
  height: 30px;
  border: none;
  color: white;
  background-color: #339ce3;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 30px;
}

#post-btn:hover {
  color: #339ce3;
  background-color: white;
  border: 1px solid #339ce3;
}

.details {
  border-top: 1px solid rgb(173, 173, 173);
}

textarea {
  width: 90%;
  border: none;
  outline: none;
}

#output {
  width: 300px;
  border: none;
  outline: none;
  margin-top: 5px;
}


@media screen and (max-width:800px) {
  .createPost{
    margin-top: 70px;
  }
}