.signUp {
  background: #f3f3f3;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.signupBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10%;
  margin-left: 6rem;
}
.signUpLogo {
  width: 200px;
  object-fit: contain;
  padding: 10px 0px;
}

.loginPara {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0px 40px 20px 40px;
}

input {
  padding: 5px;
  margin: 3px 0px;
  outline: none;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form > div {
  width: 80%;
  margin: auto;
}

#submit-btn {
  background-color: #1773ea;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  width: 80%;
  cursor: pointer;
  margin-top: 8px;
}

.form2 {
  background-color: #fff;
  padding: 30px;
  margin-top: 5px;
  border-radius: 10%;
  margin-left: 6rem;
}


@media screen and (max-width:800px) {

  .signUp{
    display: flex;
    flex-direction: column;
  }
  .signupBox{
    width: 100%;
    margin-top: 60px;
  }

  .form-container{
    width: 100%;
  }

  .form{
    margin: 10px;
  }

  .form2{
    margin:10px;
  }
}