.signIn {
  background-color: rgb(243, 243, 243);
  background-size: cover;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: #ffffff4d;
  padding: 30px;
  width: 20rem;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 10%;
}

.loginForm2 {
  background-color: #ffffff4d;
  border-radius: 10%;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
}

#login-btn {
  background-color: #1773ea;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;

  cursor: pointer;
  margin-top: 8px;
}
